@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Old+Standard+TT&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

/* General Common Style*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font: normal 16px sans-serif;
    color: #555;
    scroll-behavior: smooth !important;
}
ul, nav{
    list-style-type: nome;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
}
a:hover{
    opacity: 1;
}
a.btn{
    color: black;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #E97810;
    font-weight: 800;
    text-align: center;
}
hr{
    width: 150px;
    height: 2px;
    background-color: #E97810;
    border: 0;
    margin-bottom: 80px;
}


/* Section Common Style */

section {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 125px 100px;
}

@media(max-width: 1000px)  {
    section{
        padding: 100px 50px;
    }
}
section h3.title{
    color: #414a4f;
    text-transform: capitalize;
    font: bold 32px 'Open Sans', sans-serif;
    margin-bottom: 35px;
    text-align: center;
}
section p{
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}
ul.grid{
    width: 100%;
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
}
/*Herder Section*/

header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 35px 100px 0;
}
header h2{
    font-family: 'Quicksand', sans-serif;
}

header nav{
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
header nav li{
    margin: 0 15px;
}
header nav a:hover{
    background-color: #111;
}
herder nav li:last-child{
    margin-right:0;
}
@media(max-width: 1000px){
    header{
        padding: 20px 50px;
    }
}
@media(max-width: 700px){
    header{
        flex-direction: column;
    }
    header h2{
        margin-bottom: 15px;
    }
}

/* Her Section */
.home
{
    position: relative ;
    justify-content: center;
    min-height: 100vh;
    color: #414a4f;
    text-align: center;
}
.home .background-color{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #C5C0B9;
    z-index: -1;
}
.home .background-color:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #414a4f;
    opacity: 0.75;
}
.home h1{
    font: bold 30px 'Open Sans', sans-serif;
    margin-bottom: 40px
}

.home h3{
    fonr: nomarl 20px 'Open Sans', sans-serif;
    margin-bottom: 40px;
}
.home a.btn
{
    padding: 20px 46px;
}

@media (max-width: 800px) {
    .home{
        min-height: 600px;
    }
    .home h1
    {
        font-size: 48px;
    }
    .home h3{
        font-size: 24px;
    }
    .hero a.btn{
        padding: 15px 40px;
    }
}

